---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { YouTube } from 'astro-embed';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome!</h1>
			<p>
				Hello! 
				Welcome to my personal website where you can find out my about me and read my blog articles.  
			</p>
		</main>
		<h2>My Latest Video</h2>
		<YouTube id="https://www.youtube.com/watch?v=1WJa_cbSW2A" />
		<Footer />
	</body>
</html>
