---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_TITLE_HEAD, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_HEAD} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Links</h1>
            <p>Here are some of my social media links:</p>
			<ul>
				<li>
					<a href="https://sandrolinux.com/links/youtube">YouTube</a>
				</li>
				<li>
					<a href="https://sandrolinux.com/links/discord">My Discord Server</a>
				</li>
				<li>
					<a href="https://sandrolinux.com/links/odysee">Odysee</a>
				</li>
				<li>
					<a href="https://sandrolinux.com/links/github">GitHub</a>
				</li>
				<li>
					<a href="https://sandrolinux.com/links/x">X (Twitter)</a>
				</li>
				<li>
					<a href="https://lbry.world/sandrolinux">Mastodon (LBRY.world)</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
