---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_TITLE_HEAD, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_HEAD} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>SLE Version Checker</h1>
            <p>There was quite a gap in the development of my extension. If you use the older version of the extension this page won't tell you the specific version as this is a new feature.</p>
            <h2>After 3.0</h2>
            <p><div id="newSLE"></div></p>
            <h2>Pre 3.0</h2>
            <p><div id="extension"></div></p>
		</main>
		<Footer />
	</body>
</html>
