---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_TITLE_HEAD, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_HEAD} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Sources</h1>
            <h2>This Year</h2>
            <p><a href="sources/17-08-24">Considering Breaking Up Google (17-8-24)</a></p>
		</main>
		<Footer />
	</body>
</html>
