---
import { NAME, COPYNOTICE } from '../config';
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} {NAME}. {COPYNOTICE}.</p>
	<a href="privacypolicy">Privacy Policy</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
