---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <meta http-equiv="refresh" content="0; url=https://lbry.world/@sandrolinux" />
	</head>
	<body>
		<main>
			<p>
				Redirecting to LBRY.world ... 
                <a href="https://lbry.world/@sandrolinux">Click here if it doesn't redirect</a>
			</p>
		</main>
	</body>
</html>
